########################################################################################################
#
#                                       Upstart Script
#
# Upstart script for {{ deploy_app_name }} instance {{ deploy_instance_nr }}
#
# The application is located in: {{ deploy_dir_instance }}
#
# Usage:
#   sudo start {{ deploy_service_name }}
#   sudo stop {{ deploy_service_name }}
#   sudo restart {{ deploy_service_name }}
#   sudo status {{ deploy_service_name }}
#
#########################################################################################################

description "Upstart script for {{ deploy_service_name }}"
author "https://github.com/acme-software/ansible-java-deployment"
version 1.0.0

# Set environment variables
env HOME={{ deploy_dir_app }}
env PIDFILE={{ deploy_service_pidfile }}

# Respawn parameters with limit: dies 3 times within 60 seconds
respawn
respawn limit 3 60

{% if deploy_start_at_boot_time == True %}
# When to start the service
start on runlevel [2345]
# When to stop the service
stop on runlevel [016]
{% endif %}

# Change directory to current version of Tankmin
chdir {{ deploy_dir_app }}

{% if deploy_service_has_prestart_script == True %}
# Pre-Start Script
pre-start script
  {{ deploy_service_prestart_script }}
end script
{% endif %}

{% if deploy_service_has_poststart_script == True %}
# Post-Start Script
post-start script
  {{ deploy_service_poststart_script }}
end script
{% endif %}

# Execute deploy_service_start_command and log stdout
exec su -c "{{ deploy_service_start_command }} {% if deploy_log_stdout == True %}1>>{{ deploy_log_stdout_path }}{% endif %} {% if deploy_log_stderr == True %}2>>{{ deploy_log_stderr_path }}{% endif %}" {{ deploy_app_user }} -- --pid $PIDFILE

{% if deploy_service_has_prestop_script == True %}
# Pre-Stop Script
pre-stop script
  {{ deploy_service_prestop_script }}
end script
{% endif %}

{% if deploy_service_has_poststop_script == True %}
# Post-Stop Script
post-stop script
  {{ deploy_service_poststop_script }}
end script
{% endif %}