########################################################################################################
#
#                                       Upstart Script
#
# Upstart script for {{ deploy_app_name }} instance {{ deploy_instance_nr }}
#
# The application is located in: {{ deploy_dir_instance }}
#
# Usage:
#   sudo start {{ deploy_service_name }}
#   sudo stop {{ deploy_service_name }}
#   sudo restart {{ deploy_service_name }}
#   sudo status {{ deploy_service_name }}
#
#########################################################################################################

description "Upstart script for {{ deploy_service_name }}"
author "https://github.com/acme-software/ansible-java-deployment"
version 1.0.0

# Set environment variables
env HOME={{ deploy_dir_app }}
env PIDFILE={{ deploy_service_pidfile }}

# Respawn parameters with limit: dies 3 times within 60 seconds
respawn
respawn limit 3 60

# Change directory to current version of Tankmin
chdir {{ deploy_dir_app }}

{% if deploy_service_has_prestart_script == True %}
# Pre-Start Script
pre-start script
  {{ deploy_service_prestart_script }}
end script
{% endif %}

# Execute deploy_service_start_command and log stdout
exec su -c "{{ deploy_service_start_command }} {% if deploy_log_stdout == True %}>>{{ deploy_log_stdout_path }}{% endif %}" {{ deploy_app_user }} --pid $PIDFILE
